html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #787272;
    font-family: 'Manrope', sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
    background: #ffffff;
    padding: 32.82px 125px 150px 125px;
    box-sizing: border-box;
}

.navSection {
    width: 1160px;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.logoLink {
    display: inline-block;
}

.logo {
    display: block;
    width: 126.89px;
    height: 21.42px;
}

.nav {
    display: inline-block;
    vertical-align: top;
    margin-left: 553px;
}

.navLink {
    display: inline-block;
    margin-right: 60px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    text-align: center;
}

.navLink_end {
    margin-right: 0px;
}

.navLink:hover {
    color: #000000;
    text-decoration: underline;
    opacity: 0.5;
}

h1 {
    width: 956px;
    height: 120px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 30px;
}

.weAreATeam {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.InteriorArmchair {
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url('../resources/interior armchair.png');
}

.textInteriorArmchair {
    position: absolute;
    width: 430px;
    height: 81px;
    bottom: 40px;
    left: 40px;   
}

.textDescription {
    margin-top: 150px;
    width: 51px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}

.studioDescription {
    width: 1048px;
    height: 366px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 3px;
}


.view-services {
    display: inline-block;
    padding: 20px 40px;
    background: #AD1818;
    border-radius: 5px;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.residentialComplex {
    margin-top: 13px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #121212;
}

.moreOne {
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 89px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.more {
    margin-top: 15px;
    margin-bottom: 89px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
}


.seeProjectsText {
    display: inline-block;
    width: 100%;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding: 56px 0px 56px 0px;
    text-align: center;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #AD1818;
}

.seeProjectsText:hover {
    background-color: #AD1818;
    color:#ffffff;
}

.listServices {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1400px;
    padding: 151px 125px 206px 125px;
    background-color: #121212;
}

.textServices {
    color: #ffffff;
    width: 66px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 34px;
    margin-left: 2px;
}

.servicesContainer {
    width: 1150px;
    height: 270px;
    margin-bottom: 116px;
}

.servicesContainer_end {
    margin-bottom: 0px;
}


/* .serviceDescription {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 3px;
} */

.serviceDescriptionLayout {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 3px;
}

.serviceDescriptionDesign {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 4px;
}

.serviceDescriptionSupervision {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 5px;
}

.serviceDescriptionEquipment {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-top: 13px;
    margin-left: 5px;
}

.fullScreenImage {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 717px;
    background-image: url('/resources/interior\ bed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.fullScreenImageText {
    position: absolute;
    width: 430px;
    height: 82px;
    left: 125px;
    bottom: 60px;
}

.serviceDescriptionApartment {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.contactsWrapper {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 186px;
    padding-left: 124px;
    padding-bottom: 150px;
}

.contactsWrapper::after {
    position: absolute;
    content: '';
    display: block;
    width: 13px;
    height: 22px;
    top: 151px;
    left: 125px;
    background-image: url(/resources/phone.png);
    background-size: contain;
}

.contacts {
    width: 473px;
    height: 217px;
}

.contactsText {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 32px;
}

.contactsTelWrapper {
    margin-bottom: 30px;
}

.contactsTel {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
}

.contactsMail {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    opacity: 0.5;

    text-decoration: none;
    border-bottom: 2px solid #121212;
    opacity: 0.5;
}

.footer {
    width: 1400px;
    background: #121212;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

.contactsFooter {
    width: 450px;
    margin-left: 470px;
    margin-bottom: 87px;
}

.box {
    display: inline-block;
    margin-right: 50px;
}

.boxContactsAboutUs {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
    
}

.boxContacts {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.boxContactsServices {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-left: 4px;
}

.boxContactsContacts {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-left: 2px;
}

.box:nth-last-child(1) {
    margin-right: 0;
}

.copyright {
    color: #ffffff;
    margin-left: 509px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    opacity: 0.5;
}

