@import url(header.css);
@import url(listServices.css);
@import url(reviews.css);
@import url(footer.css);
@import url(gallery.css);


html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #f5f5f5;
    font-family: 'Manrope', sans-serif;
}

.whiteBackground {
    width: 1400px;
    margin: 0 auto;
    background: #ffffff;
    padding: 0px 125px 150px 125px;
    box-sizing: border-box;
}

h1 {
    width: 956px;
    height: 120px;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    margin-bottom: 30px;
}

.InteriorArmchair {
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url('../resources/interior armchair.png');
}

.textInteriorArmchair {
    position: absolute;
    width: 430px;
    height: 81px;
    bottom: 40px;
    left: 40px;   
}

.weAreATeam { 
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.textDescription {
    margin-top: 150px;
    margin-bottom: 30px;
    width: 100%;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
}

.studioDescription {
    width: 1048px;
    height: 366px; 
    font-style: normal;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 3px;
}

.view-services {
    display: inline-block;
    padding: 20px 40px;
    background: #AD1818;
    border-radius: 5px;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.imageSofa {
    height: 500px;
    background-image: url('../resources/interior\ sofa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.imageTv {
    height: 500px;
    background-image: url('../resources/interior\ tv.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.staircase {
    height: 500px;
    background-image: url('../resources/interior\ staircase.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.residentialComplex {
    margin-top: 13px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #121212;
}

.moreOne {
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 89px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.more {
    margin-top: 15px;
    margin-bottom: 89px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.seeProjectsText {
    display: inline-block;
    width: 100%;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding: 56px 0px 56px 0px;
    text-align: center;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #AD1818;
}

.seeProjectsText:hover {
    background-color: #AD1818;
    color:#ffffff;
}


.contactsWrapper {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 186px;
    padding-left: 124px;
    padding-bottom: 150px;
}

.contactsWrapper::after {
    position: absolute;
    content: '';
    display: block;
    width: 13px;
    height: 22px;
    top: 151px;
    left: 125px;
    background-image: url(/resources/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts {
    width: 473px;
    height: 217px;
}

.contactsText {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 32px;
}

.contactsTelWrapper {
    margin-bottom: 30px;
}

.contactsTel {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
}

.contactsMail {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    opacity: 0.5;
    text-decoration: none;
    border-bottom: 2px solid #121212;
    opacity: 0.5;
}


/* Адаптив для планшета */

@media (max-width: 960px) {
    .whiteBackground {
        width: 960px;
        padding: 0px 17px 100px 15px;
    }  
    
    h1 {
        width: 802px;
        height: 120px;
        font-size: 50px;
    }

    .InteriorArmchair {
        width: 100%;
        height: 400px;
    }

    .textDescription {
        margin-top: 120px;
    }

    .studioDescription {
        width: 690px;
        height: 336px; 
        font-size: 35px;
        line-height: 48px;
    }

    .imageSofa, .imageTv, .staircase {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .residentialComplex {
        margin-top: 15px;
        font-size: 25px;
        line-height: 34px;
    }

    .moreOne {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 80px;
    }

    .more {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 80px;
    }

    .more_end {
        margin-bottom: 100px;
    }

    .seeProjectsText {
        width: 100%;
        padding: 56px 0px 56px 0px;   
    }

    /* listServices */

    .listServices {
        width: 960px;
        padding: 151px 23px 120px 27px;
    }

    .servicesContainer {
        margin-bottom: 80px;
    }

    .imgDrawing, .imgColorPalette, .imgRuler, .imgWarehouseWithFlights {
        height: 315px;
    }
    
    .priceServiceDescriptionLayout,
    .priceServiceDescriptionDesign,
    .priceServiceDescriptionSupervision,
    .priceServiceDescriptionEquipment {
        margin: 7px 26px 6px 27px;
        font-size: 20px;
        line-height: 27px;
    }

    .boxPriceServiceDescriptionLayout, 
    .boxPriceServiceDescriptionDesign, 
    .boxPriceServiceDescriptionSupervision, 
    .boxPriceServiceDescriptionEquipment {
        margin-top: 31px;
        margin-left: 32px;
    }

    .serviceDescriptionLayout, 
    .serviceDescriptionDesign, 
    .serviceDescriptionSupervision, 
    .serviceDescriptionEquipment {
        font-size: 25px;
        line-height: 34px;
        margin-top: 15px;
    }

    /* End listServices */

    /* reviews */

    .reviews {
        width: 960px;
        padding: 120px 15px 120px 16px;
    }

    .containerReviews {
        padding-bottom: 80px;
    }

    .colReviews {
        width: calc(50% - 5px);
    }

    .colReviews_big {
        width: 694px;
    }

    .nameReview {
        font-size: 35px;
        line-height: 48px;
        padding-bottom: 25px;  
    }

    .boxReviews {
        font-size: 20px;
        line-height: 27px;
    }

    /* End reviews */

}

/* Адаптив для телефона */

@media (max-width: 375px) {

    .whiteBackground {
        width: 375px;
        padding: 0px 12px 80px 13px;
    }  
    
    h1 {
        width: 348px;
        height: 95px;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 32px;
    }

    .InteriorArmchair {
        width: 100%;
        height: 304px;
        background-image: url('../resources/interior\ armchair\ mobile.png');
        background-size: cover;
    }

    .textInteriorArmchair {
        position: absolute;
        width: 312px;
        height: 88px;
        bottom: 15px;
        left: 15px;   
    }

    .weAreATeam { 
        font-size: 16px;
        line-height: 22px;
    }

    .textDescription {
        height: 19px;
        margin-top: 80px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }

    .studioDescription {
        width: 100%;
        height: 300px; 
        margin-left: 0;
        font-size: 22px;
        line-height: 30px; 
    }

    .view-services {
        padding: 14.5px 27px;
        border-radius: 3.80172px;
        gap: 7.6px;
        font-size: 16px;
        line-height: 22px;
    }

    .imageSofa, .imageTv, .staircase {
        height: 250px;
    }
    
    .imageSofa {
        background-image: url('/resources/interior\ sofa\ mobile.png');
    }

    .imageTv {
        background-image: url('/resources/interior\ tv\ mobile.png');
    }

    .staircase {
        background-image: url('/resources/interior\ staircase\ mobile.png');
    }

    .interiorPicture {
        width: 100%;
        height: 250px;
    }

    .residentialComplex {
        margin-top: 20px;
        font-size: 18px;
        line-height: 25px;
    }

    .moreOne {
        margin-top: 11px;
        margin-left: 0px;
        margin-bottom: 49px;
        font-size: 16px;
        line-height: 22px;
    }

    .more {
        margin-top: 11px;
        margin-left: 0px;
        margin-bottom: 49px;
        font-size: 16px;
        line-height: 22px;
    }

    .more_end {
        margin-bottom: 60px;
    }
    
    .seeProjectsText {
        width: 100%;
        border: 0.760343px solid #AD1818;
        border-radius: 3.80172px;
        padding: 37px 0px 37px 0px;
        font-size: 22px;
        line-height: 30px;   
    }

    /* listServices */

    .listServices {
        width: 375px;
        padding: 80px 15px 80px 21px; 
    }

    .listServicesWrapper{
        display: block;
    }

    .servicesContainer {
        width: 100%;
        margin-bottom: 60px;
    }

    .textServices {
        font-size: 14px;
        line-height: 19px;   
        margin-bottom: 20px;
    }

    .imgDrawing, .imgColorPalette, .imgRuler, .imgWarehouseWithFlights {
        height: 240px;
    }

    .serviceDescriptionLayout, 
    .serviceDescriptionDesign, 
    .serviceDescriptionSupervision, 
    .serviceDescriptionEquipment {
        font-size: 18px;
        line-height: 25px;
        margin-top: 10px;
    }

    .priceServiceDescriptionLayout,
    .priceServiceDescriptionDesign,
    .priceServiceDescriptionSupervision,
    .priceServiceDescriptionEquipment {
        margin: 5px 23px 6px 24px;
        font-size: 14px;
        line-height: 19px;
    }

    .boxPriceServiceDescriptionLayout, 
    .boxPriceServiceDescriptionDesign, 
    .boxPriceServiceDescriptionSupervision, 
    .boxPriceServiceDescriptionEquipment {
        margin-top: 23px;
        margin-left: 24px;
    }

    .orderService {   
        width: 100%;
        margin-top: 0px;
        padding-top: 37px;
        padding-bottom: 36px;
        border-radius: 3.8px;
        font-size: 22px;
        line-height: 30px;
    }

    /* End listServices */

    /* reviews */

    .reviews {
        width: 375px;
        padding: 80px 13px 0px 13px;
    }

    .reviewsTitle {
        padding-bottom: 22px;
        font-size: 14px;
        line-height: 19px;
    }
    
    .containerReviews {
        display: block;
        padding-bottom: 0px;
    }

    .colReviews {
        width: 100%;
        padding-bottom: 80px;
    }

    .nameReview {
        font-size: 25px;
        line-height: 34px;
        padding-bottom: 10px;  
    }

    .boxReviews {
        font-size: 16px;
        line-height: 22px;
    }

    /* End reviews */
}
